<div class="container mt-5 pt-3">
  <h1>Blog</h1>
  <div class="row">
    <div class="col-12">
      {{#each publicaciones}}
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h4>Publicación sobre la comunidad {{this.comunidad}}</h4>
              <span id="fecha_publicacion">{{this.fecha_publicacion}}</span>
            </div>
            {{{this.descripcion}}}
          </div>
          <div class="card-body">
            {{#each this.comentarios}}
              <div class="card bg-light mb-3">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <span><i class="fas fa-user"></i> {{this.idUsuario}}</span>
                    <span id="fecha_comentario">{{this.fecha_comentario}}</span>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text">{{{this.comentario}}}</p>
                </div>
              </div>
            {{/each}}
          </div>
          <!-- Botón de "Añadir comentario" con data-id -->
          <div class="card-footer">
            <div id="formulario-comentario" class="card-body">
              <h5>Añadir nuevo comentario</h5>
              <form id="comentario-form" method="POST" action="/comentarios">
                <input
                  type="hidden"
                  name="id_publicacion"
                  id="id_publicacion"
                  value="{{this._id}}"
                />
                <div id="textarea-comentario" class="form-group">
                  <textarea
                    id="comentario"
                    class="form-control"
                    rows="3"
                    placeholder="Escribe tu comentario aquí..."
                    name="comentario"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Añadir comentario</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Formulario de crear publicaciones -->
{{#if comunidades}}
  <div class="container p-3 bg-info">
    <div class="col">
      <h3>Crear nueva publicación</h3>
      <form id="formulario" method="POST" action="/publicaciones">
        <div class="form-group">
          <label for="comunidad"><b>Selecciona una comunidad</b></label>
          <select class="form-control" name="comunidad" id="comunidad">
            <option disabled selected value="">Selecciona una comunidad para
              añadir la publicación</option>
            {{#each comunidades}}
              <option value="{{this._id}}">{{this.nombre}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label for="publicaciones"><b>Introduce una publicación</b></label>
          <textarea
            id="publicaciones"
            class="form-control"
            rows="3"
            placeholder="Escribe tu publicación aquí..."
            name="publicacion"
          ></textarea>
        </div>
        <button class="btn btn-dark" type="submit">Enviar</button>
      </form>

      <div
        id="error-comunidad"
        class="alert alert-danger mt-3"
        role="alert"
        style="display: none;"
      >
        <p id="error-message-comunidad"></p>
      </div>
      <div
        id="error-publicacion"
        class="alert alert-danger mt-3"
        role="alert"
        style="display: none;"
      >
        <p id="error-message-publicacion"></p>
      </div>
    </div>
  </div>
{{/if}}