<div class="container mt-5 pt-4">
  <div class="row">
    <div class="col-md-7">
      <div class="card bg-light mb-3">
        <div class="card-header">
          <h1 class="card-title">{{comunidad.nombre}}</h1>
        </div>
        <div class="card-body">
          <p class="card-text">Creador de la comunidad:
            {{nombreAdministrador}}</p>
          <p class="card-text">Fecha de creación: {{comunidad.fechaInicio}}</p>
          <p class="card-text">Categorías:</p>
          <ul class="card-text">
            {{#each comunidad.categorias}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <p class="card-text">Causas:</p>
          <ul class="card-text">
            {{#each causasAcciones}}
              <li>{{this.causa.titulo}}</li>
            {{/each}}
          </ul>
          <p class="card-text">Acciones:</p>
          <ul class="card-text">
            {{#each causasAcciones}}
              {{#each this.acciones}}
                <li>{{this.titulo}}</li>
              {{/each}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card bg-light">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title">Resumen de la comunidad</h4>
          <button id="generarInforme" class="btn btn-sm btn-primary">Generar
            informe</button>
        </div>
        <div class="card-body">
          <canvas id="miGrafico"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>